@model Flyturismo.Models.Cliente

@{
    ViewData["Title"] = "Cliente";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<p class="display-4">Cadastre-se</p>
<hr />
<div class="row jumbotron jumbotron-fluid bg- text-body">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinoId_destino" class="control-label">Destinos disponíveis</label>
                <select asp-for="DestinoId_destino" class ="form-control" asp-items="ViewBag.DestinoId_destino"></select>
            </div>
            <div class="form-group">
                <label asp-for="HospedagemId_hospedagem" class="control-label">Datas de Entrada diponíveis</label>
                <select asp-for="HospedagemId_hospedagem" class ="form-control" asp-items="ViewBag.HospedagemId_hospedagem"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-info text-white border border-white" />
            </div>
        </form>

            <a asp-action="Index" class="btn btn-dark text-white border border-white">&#8592;</a>
            
    </div>
</div>


    


</body>
</html>
