@{
    ViewData["Title"] = "Contato";
}

<!DOCTYPE html>

<html>
<head lang="pt-br">
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<div class="jumbotron text-center">

  <p class="display-4">@ViewData["Title"]</p>
  <hr>
  
  <img src="/image/email.gif" class="w-25 m-3" alt="" srcset="">
  <span class="h3">flyturismo@turismo.com.br</span>
  <br>
  <hr>
  <br>
  <img src="/image/Contato.png" class="m-3 w-75" alt="" srcset="">

</div>

</html>