@{
    ViewData["Title"] = "Promoção";
}
<div class="jumbotron">
<p class="display-4 text-center text-danger">Promoções</p>

<hr>
<p class="display-4">Viagens Nacionais</p>
<div class="card-deck">


  <div class="card bg-info">
        <img class="card-img-top" height="500"  src="https://images.pexels.com/photos/4737518/pexels-photo-4737518.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Rio de Janeiro</h5>
        <p class="card-text h-2">O que fazer no Rio de Janeiro?</p>
        <p class="card-text">Rio de Janeiro oferece uma série de atrações para você curtir. Encontre as melhores excursões, entradas, passeios e demais atividades. Descubra o seu destino do seu jeito e aproveite a sua viagem ao máximo.</p>
        </div>
        <div class="card-footer">
      <p class="font-weight-light"><del>R$ 500,00</del></p>
      <p class="h2 text-danger">R$ 299,00</p>
        <button type="button" class="btn btn-outline-danger">Comprar</button>
        </div>
  </div>


 
  <div class="card bg-info">
        <img class="card-img-top" height="500"  src="https://www.opovo.com.br/_midias/jpg/vasti/2016/01-06/04/20160407/beira_mar.jpg" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Fortaleza</h5>
        <p class="card-text h-2">
            Temporada em Fortaleza de dezembro até fevereiro é alta temporada em Fortaleza. 
            Leve em consideração que muitas pessoas viajam nessas datas.
        </p>
        <p class="card-text">
            De mares agitados a lagoas tranquilas, Fortaleza tem opções para todos os gostos. 
            No quesito comida, as barraquinhas de tapioca na chapa são como os vendedores de biscoito Globo, 
            estão por toda parte. Não deixe de provar a de queijo coalho do Centro das Tapioqueiras. Dividindo a 
            posição no ranking imperdíveis, está o por do sol da Ponte dos Ingleses e o Baião de Dois com carne de 
            Sol, considerado pelos fortalezences o cartão-postal número 1 da cidade. Prove seu sabor no Ponto do 
            Baião, que também conta com apresentações artísticas. Troque o samba pelo forró no centro cultural 
            Dragão do Mar, você não vai se arrepender!
        </p>
        </div>
        <div class="card-footer">
      <p class="font-weight-light"><del>R$ 1500,00</del></p>
      <p class="h2 text-danger">R$ 999,00</p>
        <button type="button" class="btn btn-outline-danger">Comprar</button>
        </div>
  </div>


    <div class="card bg-info">
        <img class="card-img-top" height="500"  src="https://images.pexels.com/photos/3044565/pexels-photo-3044565.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">São Paulo</h5>
        <p class="card-text">
           São Paulo, a terra da garoa, te dá as boas vindas e alerta: você pode viver as quatro 
           estações do ano em um único dia. No quesito gastronomia, SP não tem pra ninguém! Você pode 
           degustar desde um sanduíche de mortadela no Bar do Mané, no Mercadão, ao Maximus, menu degustação do D.O
           .M, quinto restaurante mais cobiçado da América Latina. Se estiver buscando sossego, um rolê de 
           bike pelo Ibirapuera pode ser uma boa pedida. Pela tarde, troque o choppinho com amigos na praia por 
           um happy hour no Bar do Belo,na Vila Madalena, um bairro cool para quem gosta de requinte sem perder 
           a informalidade. SP te espera!
        </p>
        </div>
        <div class="card-footer">
      <p class="font-weight-light"><del>R$ 900,00</del></p>
      <p class="h2 text-danger">R$ 699,00</p>
        <button type="button" class="btn btn-outline-danger">Comprar</button>
        </div>
    
  </div>
</div>




<br>
<hr>
<br>
  <p class="display-4">Viagens Internacionais</p>



<div class="card-deck">


  <div class="card bg-info">
        <img class="card-img-top" height="500"  src="https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Londres</h5>
        <p class="card-text">
          Londres, capital da Inglaterra e do Reino Unido, é uma cidade do século 21 com uma história que 
          remonta à era romana. Seu centro abriga as sedes imponentes do Parlamento, a famosa 
          torre do relógio do Big Ben e a Abadia de Westminster, local de coroação dos monarcas 
          britânicos. Do outro lado do rio
          Tâmisa, a roda gigante London Eye tem vista panorâmica do complexo cultural da margem sul e de toda 
          a cidade.
        </p>
             
        </div>
        <div class="card-footer">
      <p class="font-weight-light"><del>R$ 5.000,00</del></p>
      <p class="h2 text-danger">R$ 2.999,00</p>
        <button type="button" class="btn btn-outline-danger">Comprar</button>
        </div>
  </div>


 <br><br>
  <div class="card bg-info">
        <img class="card-img-top" height="500"  src="https://images.pexels.com/photos/2598675/pexels-photo-2598675.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Caribe</h5>
        <p class="card-text">
            O Caribe, também chamado Caraíbas e América Caribenha, é uma região do continente americano 
            formada pelo Mar do Caribe, suas ilhas e Estados insulares. Também é chamado de Antilhas ou Índias
             Ocidentais, nome originado pela crença inicial europeia de que o continente americano fosse a Índia.
        </p>
        </div>
        <div class="card-footer">
      <p class="font-weight-light"><del>R$ 10.000,00</del></p>
      <p class="h2 text-danger">R$ 7.585,54</p>
        <button type="button" class="btn btn-outline-danger">Comprar</button>
        </div>
  </div>


    <div class="card bg-info">
        <img class="card-img-top" height="500"  src="https://images.pexels.com/photos/2432189/pexels-photo-2432189.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Nova York</h5>
        <p class="card-text">
           A cidade de Nova York compreende 5 distritos situados no encontro do rio Hudson com o 
           Oceano Atlântico. No centro da cidade fica Manhattan, um distrito com alta densidade demográfica 
           que está entre os principais centros comerciais, financeiros e culturais do mundo. Entre seus 
           pontos emblemáticos, destacam-se arranha-céus, como o Empire State Building, e o enorme Central
           Park. O teatro da Broadway fica em meio às luzes de neon da Times Square
        </p>
        </div>
        <div class="card-footer">
      <p class="font-weight-light"><del>R$ 6.000,00</del></p>
      <p class="h2 text-danger">R$ 3.500,00</p>
        <button type="button" class="btn btn-outline-danger">Comprar</button>
        </div>
    
  </div>


</div>

</div>