@model Flyturismo.Models.Destino

@{
    ViewData["Title"] = "Destino";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<p class="display-4">Insira os dados para um novo Destino</p>
<hr />
<div class="row jumbotron jumbotron-fluid bg- text-body">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label">País</label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-info text-white border border-white" />
            </div>
        </form>
        <a asp-action="Index" class="btn btn-dark text-white border border-white">&#8592;</a>
    </div>
</div>



</body>
</html>
